@font-face {
  font-family: "Product Sans";
  src: url(8ICT/product-sans.ttf) format("truetype");
}

body {
    color: black;
    background-color: white;
    font-family: "Product Sans";
    text-align: center;
}
h1 {
    margin-bottom: 5px;
}

.portfolio {
    font-size: 20pt;
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 20px 5px 10px 5px;
    margin: 15px 35%;
}
.portfolio {
    transition-duration: 0.4s;
}
.portfolio:hover {
    background-color: white;
    color: black;
}

.bar {
	position: relative;
	left: 30%;
	right: 30%;
	height: 3px;
	width: 40%;
	background-color: black;
}